<div class="price">
    <div class="container">
        <h4>Find The Prefect pPrice</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/team-2.jpg" alt="" />
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/team-1.jpg" alt="" />
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/team-3.jpg" alt="" />
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="wee">
                    <h3>Free</h3>
                    <h5><sup>$</sup>0<span> / month</span></h5>
                    <ul type = "none">
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <button>Contact Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="wee">
                    <h3>Free</h3>
                    <h5><sup>$</sup>0<span> / month</span></h5>
                    <ul type = "none">
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <button>Contact Now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="wee">
                    <h3>Free</h3>
                    <h5><sup>$</sup>0<span> / month</span></h5>
                    <ul type="none">
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <button>Contact Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
