<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-1.jpg" alt="" />
                    <h5>Telcom To My Project</h5>
                    <button>Get Started</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-1.jpg" alt="" />
                    <h5>Telcom To My Project</h5>
                    <button>Get Started</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-1.jpg" alt="" />
                    <h5>Telcom To My Project</h5>
                    <button>Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="see-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="text">
                    <h3>Thanks To Visit Our Page</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Aspernatur numquam odio id non eveniet assumenda maiores aliquid neque, ipsam suscipit molestias soluta corrupti reiciendis nesciunt.
                        Quo laboriosam hic consectetur vero!
                    </p>
                    <button>Contact</button>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="image">
                    <img src="../../assets/images/about-img.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>

