<div class="courses">
    <div class="container">
        <h5>Popular Courses</h5>
        <h4>Latest Online Courses</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-1.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-2.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-3.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="see-courses">
    <div class="container">
        <h4>Best Courses</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-1.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-2.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-3.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-3.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-1.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-2.jpg" alt="" />
                    </div>
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
