.contact{
    margin-top: 30px;
    background: #320101;
    h3{
        text-align: center;
        color: white;
        margin-top: 50px;
    }
}
.see-contact{
    overflow: hidden;
    background: #320101;
    .text{
        margin-top: 50px;
        margin-bottom: 20px;
        ul{
            li{
                display: flex;
                justify-content: space-between;
                span{
                    display: flex;
                    align-items: center;
                    i{
                        color: gold;
                        font-size: 30px;
                    }
                }
                .go{
                    margin-right: auto;
                    margin-left: 40px;
                    h4{
                        color: aqua;
                    }
                    p{
                        color: gainsboro;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .write{
        margin-top: 50px;
        margin-bottom: 20px;
        input{
            height: 45px;
            width: 45%;
            margin-right: 10px;
            margin-bottom: 15px;
        }
        textarea{
            width: 100%;
        }
    }
}

#mak{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/*-----------------------start of public classes----------*/
.container {
    width: 95%;
    margin: auto;
    overflow: hidden;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
      }

  }


  /*-----------------------end of public classes----------*/
