<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="image">
                    <img src="../../assets/images/home-img.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="text">
                    <h4>Back To The Gym</h4>
                    <p>
                        Start Your Fitness
                        <br>
                        Journey Today
                    </p>
                    <button>Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="text">
                    <h5>About Us</h5>
                    <h3>
                        Daily Work Out And Stay
                        <br>
                        Active At Home
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Aspernatur nihil iure aut qui earum eius officia adipisci quis,
                        consectetur a id neque assumenda dicta sed eum harum eaque ratione magni.
                    </p>
                    <ul type="none">
                        <li>
                            <span><i class="fa fa-flag-checkered"></i></span>
                            How To Support Your Immume System
                        </li>
                        <li>
                            <span><i class="fa fa-flag-checkered"></i></span>
                            How To Support Your Immume System
                        </li>
                        <li>
                            <span><i class="fa fa-flag-checkered"></i></span>
                            How To Support Your Immume System
                        </li>
                        <li>
                            <span><i class="fa fa-flag-checkered"></i></span>
                            How To Support Your Immume System
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="image">
                    <img src="../../assets/images/about-img.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="counter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
                <h2>40 +</h2>
                <p>Online Courses</p>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h2>50 +</h2>
                <p>Online Courses</p>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h2>60 +</h2>
                <p>Online Courses</p>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <h2>70 +</h2>
                <p>Online Courses</p>
            </div>
        </div>
    </div>
</div>

<div class="courses">
    <div class="container">
        <h5>Popular Courses</h5>
        <h4>Latest Online Courses</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-1.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-2.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-3.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-4.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-5.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <img src="../../assets/images/img-6.jpg" alt="" />
                    <div class="par">
                        <span style="float: left;">
                            <i class="fa fa-ils"></i>
                            mon-sat
                        </span>
                        <span style="float: right;">
                            <i class="fa fa-ils"></i>
                            1-hours
                        </span>
                        <p>
                            Weight Lifting And Diet
                            <br>
                            Planing Classes
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="plan">
    <div class="container">
        <h5>Choose A Plan</h5>
        <h4>Find The Prefect Plan</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <h6>Beginners Plan</h6>
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <h6>Beginners Plan</h6>
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <h6>Beginners Plan</h6>
                    <p>
                        $ <span>30</span> /MO
                    </p>
                    <button>Choose Plan</button>
                    <ul type = "none">
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-flash"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                        <li>
                            <span><i class="fa fa-yen"></i></span>
                            Personal Training
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="price">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="image">
                    <img src="../../assets/images/join-us-image.png" alt="" />
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="text">
                    <h5>Join With Us</h5>
                    <h4>Join Us & Get Upto 50% Off</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Cupiditate repellat beatae dicta atque ratione veniam quod rem a numquam pariatur sint, delectus amet, consequatur laborum nemo,
                        perferendis voluptatum quibusdam repudiandae?
                    </p>
                    <button>Get Started</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team">
    <div class="container">
        <h5>Our Team</h5>
        <h4>Meat The Expert Trainers</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div id="bemo" class="text-one">
                    <div id="demo" class="text-iteam">
                        <p>
                            <span>
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div id="remo" class="text-two">
                    <div id="lemo" class="text-iteam">
                        <p>
                            <span>
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div id="yemo" class="text-three">
                    <div id="femo" class="text-iteam">
                        <p>
                            <span>
                                <i class="fa fa-facebook"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-youtube"></i>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog">
    <div class="container">
        <h5>Our Blogs</h5>
        <h4>Our Daily Posts</h4>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-1.jpg" alt="" />
                    </div>
                    <div class="cont">
                        <p>
                            Make Your Self Stronger
                            <br>
                            Than Your Excuses
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-2.jpg" alt="" />
                    </div>
                    <div class="cont">
                        <p>
                            Make Your Self Stronger
                            <br>
                            Than Your Excuses
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="text">
                    <div class="image">
                        <img src="../../assets/images/img-3.jpg" alt="" />
                    </div>
                    <div class="cont">
                        <p>
                            Make Your Self Stronger
                            <br>
                            Than Your Excuses
                        </p>
                        <button>Get started</button>
                    </div>
                </div>
            </div>
            <div class="wee">
                <hr/>
                <h4>
                    Creatd By
                    <em>En/Kareem Shawky</em>
                    All Right Reserved
                </h4>
            </div>
        </div>
    </div>
</div>

<button id="mak" [ngStyle]="{display:ds}" (click)="toTop()">Top</button>
